
/*  Need to adjust camel case vs kebab case in HTML */

* {
    font-family: 'Open Sans', sans-serif;
}

body, html {
    margin: 0;
    background-color: #Eaeaf4;
}

#nav-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15%;
    height: 100%;
    background-color: #1F1F3D;
    height: 100%;
}

#ideabox {
    padding-left: 5%;
    font-size: medium;
    font-weight: bold;
    color: #E9E9F3;
}

#filter-ideas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: .5px solid #353567;
    padding: 2.5% 5% 10% 5%;
    font-size: small;
    font-weight: bold;
    color: #BFBFDD;
}

.show-starred-button {
    padding: 8px 20px;
    margin-top: 2.5%;
    background-color: #5356A4;
    border: none;
    font-size: medium;
    font-weight: bold;
    color: #E9E9F3;
}

#input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;    
    background-color: #A9AAD2;
    border-left: .5px solid #E9E9F3;
}

fieldset {
    width: 40%;
    border: none;
    margin-bottom: 1%;
    font-size: medium;
}

/* .input-field    {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
} */

#title-input    {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    height: 1.5rem;
}

#body-input {
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
    height: 8rem;
}

.save-button    {
    width: 101%;
    height: 2.5rem;
    margin-bottom: 25px;
    padding: 5px;
    background-color: #353567;
    border: none;
    font-size: medium;
    font-weight: bold;
    color:#E9E9F3;
}

#title-input:invalid + .save-button, #body-input:invalid + .save-button {
    cursor:not-allowed;
    opacity: 0.6;
}

.search-bar {
    width: 101%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #353567;
}

#search-icon {
    height: 1.5em;
    width: 1.5em;
    padding: 7px;
}

#search-input   {
    width: 100%;
}

#outputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    margin-left: 15%; 
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    margin: 2.5%;
    background: #ffffff;
    border: solid #1F1F3D .5px;
}

.container-top-nav  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5px;
    background: #1F1F3D;
}

.idea-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    height: 100%;
}

#star-icon  {
    height: 1.5em;
    width: 1.5em;
}

#delete-icon    {
    height: 1.5em;
    width: 1.5em;
}

.title-output   {
    font-weight: bold;
    margin-bottom: 0px;
}

.container-bottom-nav   {
    display: flex;
    flex-direction: row;
    justify-content: flext-start;
    align-items: center;
    height: 1.6em;
    padding: 2.5px;
    background-color: #5356A4;
}

#plus-icon  {
    height: 1.5em;
    width: 1.5em;
}

#comment    {
    font-size: small;
    font-weight: bold;
    color: #E9E9F3
}