
* {
    font-family: 'Open Sans', sans-serif;
}

body, html {
    margin: 0;
    background-color: #Eaeaf4;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    background-color: #1F1F3D;
    height: 100%;
}

.ideabox {
    margin-top: 1.5rem;
    padding-left: 5%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #E9E9F3;
}

.filter-ideas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: .5px solid #353567;
    padding: 2.5% 5% 10% 5%;
    font-size: small;
    font-weight: bold;
    color: #BFBFDD;
}

.show-starred-button {
    padding: 0.5rem 1.2rem;
    margin-top: 2.5%;
    background-color: #5356A4;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #E9E9F3;
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;    
    background-color: #A9AAD2;
    border-left: 0.2rem solid #E9E9F3;
}

fieldset {
    width: 40%;
    border: none;
    margin-bottom: 1%;
    margin-top: 1.5rem;
    font-size: medium;
}

.input-labels {
    font-weight: 600;
}

.input-fields {
    margin: 1% 0 5% 0;
    width: 100%;
}

#titleInput {
    height: 1.5rem
}

#bodyInput {
    height: 8rem;
}

.save-button    {
    width: 101%;
    height: 3rem;
    margin-bottom: 1.5rem;
    background-color: #353567;
    border: none;
    font-size: medium;
    font-weight: bold;
    color:#E9E9F3;
    cursor: pointer;
}

#titleInput:invalid + .save-button, #bodyInput:invalid + .save-button {
    cursor:not-allowed;
    opacity: 0.6;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 101%;
    background-color: #353567;
    color: #5356A4;
}

.search-icon {
    padding: 0.45rem;
}

.search-input   {
    width: 100%;
}

.output-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    margin-left: 20%; 
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    margin: 2.5%;
    background: #ffffff;
    border: solid #1F1F3D .5px;
}

.container-top-nav  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5px;
    background: #1F1F3D;
}

.idea-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 10px;
    height: 100%;
}

.icons {
    height: 1.5em;
    width: 1.5em;
}

.title-output   {
    font-weight: bold;
    margin-bottom: 0px;
}

.container-bottom-nav   {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 1.6em;
    padding: 2.5px;
    background-color: #5356A4;
}

.comment {
    font-size: small;
    font-weight: bold;
    color: #E9E9F3
}